<div class="footer py-3 footer-small-text d-flex justify-content-center align-items-center">
    <div class="container text-center">
        <span class="text-muted">Copyright &copy; 2023-2024 </span>
        <a href="https://linktr.ee/revoirb612" target="_blank">홍승일</a>
        <span class="text-muted"> ― </span>
        <a href="/terms" target="_blank">Terms</a>
        <span class="text-muted"> ― </span>
        <a href="/privacy-cookies" target="_blank">Privacy & Cookies</a>
    </div>
</div>
