<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><span>🖐한뼘코딩.com</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://revoirb612.notion.site/GPT-b51056ed3fd24b929224cb6652267a23?pvs=4" target="_blank">TEACHER GUIDE</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        FAMILY SITES
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://www.hype-link.com/" target="_blank">하입링크</a>
                        <a class="dropdown-item" href="https://revoirb612.github.io/WhoSkippedIt/" target="_blank">누가 누가 안 했나</a>
                        <a class="dropdown-item" href="https://revoirb612.github.io/reclass/" target="_blank">Re:Class</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/search">
                <input class="form-control mr-sm-2" type="search" name="query" placeholder="파일명 또는 저자 검색" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
            </form>
        </div>
    </nav>
</header>
